
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>@Html.ActionLink("Doctors", "Index", "Doctors")</h1>
        </div>
        <div class="col-md-6">
            <h1>@Html.ActionLink("Patients", "Index", "Patients")</h1>
        </div>
    </div>
</div>