@model IEnumerable<Hospital.Core.Doctors.Models.DoctorDto>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h2>Index</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div id="quick-access">
        @using (Ajax.BeginForm("Search", "Doctors", new { }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "get", UpdateTargetId = "doctors" }, new { @class = "form-inline quick-search-form" }))
        {
            <div class="form-group">
                @Html.TextBox("pattern", null, new { @class = "form-control", placeholder = "Search here" })
            </div>
            <button type="submit" id="quick-search" class="btn btn-custom"><span class="glyphicon glyphicon-search custom-glyph-color"></span></button>
        }
    </div>
    <div id="doctors">
        @{
            Html.RenderPartial("_DoctorsPartial", Model);
        }
    </div>
</div>